<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/php/bootstrap.php"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="false"
        backupGlobals="true"
        backupStaticAttributes="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        failOnWarning="false">
    <testsuites>
        <testsuite name="Unit">
            <directory prefix="test-" suffix=".php">./tests/php</directory>
        </testsuite>
    </testsuites>
</phpunit>

